@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    /* min-height: 100vh; */
    background: linear-gradient(30deg,rgb(44, 38, 69) 0%, rgb(54, 79, 93) 100%);
    background-image: url("pic/bannerBG.png");
    background-size: 100%;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}
.body2 {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1, h2 {
    color: aliceblue;
    margin: 0;
    padding: auto;
    font-weight: 400;
}
img {
    border-color: rgb(43, 43, 43);
    border-radius: 100%;
    width: 20rem;
}
.picnName {
    text-align: center;
    display: flex;
    flex-wrap: wrap-reverse;
}
nav {
    margin: 1rem;
    padding: 1rem;
    border-radius: 100rem;
    background-color: aliceblue;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}
.card {
    display: grid;
    color: aliceblue;
    /* margin-top: 8rem; */
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
    /* background-color: rgba(255, 255, 255); */
    font-family: "Mitr", sans-serif;
    font-weight: 200;
}
.btn {
    /* position: fixed; */
    border-radius: 100rem;
    background-color: aliceblue;
    font-weight: 600;
    padding: 1rem;
    align-self: end;
    margin-right: 5rem;
}
.btn a {
    text-decoration: none;
    color: rgb(49, 61, 71);
}
.pic {
    text-align: center;
    align-content: center;
    grid-column: 1/ span 1;
    grid-row: 1 / span 2;
}
.flexpic {
    display: flex;
    justify-content: center;
}
.infomation {
    grid-column: 2/ span 1;
}
p {
    font-size: 1.5rem;
    font-weight: 200;
}
.port {
    margin: 1rem;
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
}
.list {
    grid-column: 2/ span 1;
    display: block;
    margin: 0;
    border-radius: 1rem;
    color: aliceblue;
    width: 80%;
    /* background-color: rgb(44, 38, 69); */
}
.contact {
    margin: 1rem;
    display: flex;
    width: 25rem;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
#fbbtn {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0);
    color: #7e9eff;
    border-style: solid;
    border-color: #7e9eff;
}
#fbbtn:hover{
    background-color: #7e9eff;
    color: rgb(49, 61, 71);
    border-style: solid;
}
#ytbtn {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0);
    color: #dc3545;
    border-style: solid;
    border-color: #dc3545;
}
#ytbtn:hover{
    background-color: #dc3545;
    color: rgb(49, 61, 71);
    border-style: solid;
}
a {
    color: rgb(149, 206, 255);
}
.container {
    width: 60vw;
}
.project_container {
    margin-top: 1rem;
    display: grid;
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: aliceblue; */
    padding: 1rem;
    border-radius: 1rem;
    grid-template-columns: 50% 50%;
}
.project_box {
    background-color: rgb(240, 248, 255);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    /* border:solid #7e9eff; */
    box-shadow: 0 0 0.4rem 0 black;
}
.project_box p {
    font-size: 1rem;
}
.project_topic {
    font-size: 1.5rem;
    font-weight: 400;
}
.topic {
    grid-column: 1/ span 2;
    text-align: center;
}
#Tso {
    grid-column: 1/ span 1;
}
#Pizzadip {
    grid-column: 2/ span 1;
}
.projectbtn {
    box-sizing: border-box;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 100rem;
    border: solid 0.2rem aliceblue;
    background-color: #383e6d;
    color: aliceblue;
}
.projectbtn:hover {
    background-color: rgba(255,255,255,0);
    color: #383e6d;
    border: solid 0.2rem #383e6d;
}
iframe {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}
.flexvdo {
    width: 100%;
}
.project_box2 {
    background-color: rgb(240, 248, 255);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 0.4rem 0 black;
    grid-column: 1/ span 2;
}
.project_box2 > h1{
    color: black;
    justify-self: center;
}
.project_pic {
    justify-self: center;
}
.project_pic > img {
    border-radius: 0;
}
@media only screen and (max-width: 1024px) {
    .container {
        width: 90vw;
    }
}
@media only screen and (max-width: 480px) {
    .container {
        width: 90vw;
        display: grid;
    }
    .topic {
        grid-column: 1/ span 2;
        text-align: center;
    }
    #Tso {
        grid-column: 1/ span 2;
    }
    #Pizzadip {
        grid-column: 1/ span 2;
    }
    .project_box {
        grid-column: 1/ span 2;
    }
}