@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(30deg,rgb(44, 38, 69) 0%, rgb(54, 79, 93) 100%);
    background-image: url("pic/bannerBG.png");
    background-size: 100%;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}
.body2 {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
h1, h2 {
    color: aliceblue;
    margin: 0;
    padding: auto;
    font-weight: 400;
}
img {
    border-color: rgb(43, 43, 43);
    border-radius: 100%;
    width: 20rem;
}
.picnName {
    text-align: center;
    display: flex;
    flex-wrap: wrap-reverse;
}
.card {
    display: grid;
    color: aliceblue;
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
}
li::marker {
    font-weight: 400;
    color: aliceblue;
    background-color: aliceblue;
}
.head::marker {
    content: "| ";
    font-weight: 400;
    color: aliceblue;
    background-color: aliceblue;
}
.btn {
    border-radius: 100rem;
    background-color: aliceblue;
    font-weight: 600;
    padding: 1rem;
    align-self: end;
    margin-right: 5rem;
}
.btn a {
    text-decoration: none;
    color: rgb(49, 61, 71);
}
.pic {
    text-align: center;
    align-content: center;
    grid-column: 1/ span 1;
    grid-row: 1 / span 2;
}
.flexpic {
    display: flex;
    justify-content: center;
}
.infomation {
    grid-column: 2/ span 1;
}
p {
    justify-items: center;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
}
.port {
    margin: 1rem;
    display: block;
    font-size: 3rem;
    text-align: center;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
}
.list {
    grid-column: 2/ span 1;
    display: block;
    margin: 0;
    border-radius: 1rem;
    color: aliceblue;
    width: 80%;
}
.contact {
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
#fbbtn {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0);
    color: #7e9eff;
    border-style: solid;
    border-color: #7e9eff;
}
#fbbtn:hover{
    background-color: #7e9eff;
    color: rgb(49, 61, 71);
    border-style: solid;
}
#ytbtn {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0);
    color: #dc3545;
    border-style: solid;
    border-color: #dc3545;
}
#ytbtn:hover{
    background-color: #dc3545;
    color: rgb(49, 61, 71);
    border-style: solid;
}
#ghbtn {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255,255,255,0);
    color: #ffffff;
    border-style: solid;
    border-color: #ffffff;
}
#ghbtn:hover{
    background-color: #ffffff;
    color: rgb(49, 61, 71);
    border-style: solid;
}
a {
    color: rgb(149, 206, 255);
}
.container {
    width: 60vw;
}
.project_container {
    display: grid;
    /* display: flex;
    flex-wrap: wrap; */
    /* background-color: aliceblue; */
    padding: 1rem;
    border-radius: 1rem;
    grid-template-columns: 50% 50%;
}
.project_box {
    background-color: rgb(240, 248, 255);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    /* border:solid #7e9eff; */
    box-shadow: 0 0 0.4rem 0 black;
}
.project_box p,.project_box2 p {
    font-size: 1rem;
}
.project_topic {
    display: flex;
    font-size: 1.5rem;
    font-weight: 400;
}
.bottom {
    display: flex;
    padding: 0;
    width: 60%;
    justify-content: space-evenly;
}
.bottom p {
    color: aliceblue;
}
.top {
    padding: 0;
    size: 100rem;
    background-color: rgb(240, 248, 255, 0);
}
.topic h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.topic h1 img {
    margin-left: 1rem;
    width: 3rem;
}
.topic {
    grid-column: 1/ span 2;
    text-align: center;
}
#Tso {
    grid-column: 1/ span 1;
}
#Pizzadip {
    grid-column: 2/ span 1;
}
.projectbtn {
    box-sizing: border-box;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 100rem;
    border: solid 0.2rem aliceblue;
    background-color: #383e6d;
    color: aliceblue;
    transition: linear 0.1s;
}
.projectbtn:hover {
    transform: scale(1.02);
    background-color: rgba(255,255,255,0);
    color: #383e6d;
    border: solid 0.2rem #383e6d;
}
.projectbtn1 {
    box-sizing: border-box;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 100rem;
    border: solid 0.2rem aliceblue;
    background-color: #9b3e3e;
    color: aliceblue;
    transition: linear 0.1s;
}
.projectbtn1:hover {
    transform: scale(1.02);
    background-color: rgba(255,255,255,0);
    color: #9b3e3e;
    border: solid 0.2rem #9b3e3e;
}
iframe {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}
.flexvdo {
    width: 100%;
}
.project_box2 {
    background-color: rgb(240, 248, 255);
    border-radius: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 0.4rem 0 black;
    grid-column: 1/ span 2;
}
.project_box2 > h1{
    color: black;
    justify-self: center;
}
.project_pic {
    justify-self: center;
}
.project_pic > img {
    border-radius: 0;
}
.prop {
    width: 0.4rem;
    margin-right: 1rem;
    background-color: #383e6d;
}
.prop1 {
    width: 0.4rem;
    margin-right: 1rem;
    background-color: #9b3e3e;
}
@media only screen and (max-width: 1024px) {
    .body2 {
        height: auto;
        justify-content: baseline;
    }
    .infomation {
        text-align: center;
    }
    .card {
        display: flex;
        flex-direction: column;
    }
    .list {
        align-self: center;
    }
    h1 {
        flex-direction: column;
    }
    .Contactbtn {
        margin: 0.5rem;
    }
    .btn {
        margin: 0;
        align-self: center;
    }
    .contact {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .container {
        width: 90vw;
    }
    .bottom
    {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 640px) {
    .container {
        width: 100vw;
        display: grid;
    }
    .topic {
        grid-column: 1/ span 2;
        text-align: center;
    }
    #Tso {
        grid-column: 1/ span 2;
    }
    #Pizzadip {
        grid-column: 1/ span 2;
    }
    .project_box {
        grid-column: 1/ span 2;
    }
}