body {
    margin: 0;
    background-color: aliceblue;

}
.tx {
    color: aliceblue;
    position: absolute;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem;
    bottom: 0px;
}
li {
    color: rgb(54, 54, 54);
    font-family: "Mitr", sans-serif;
    font-weight: 500;
}
p {
    margin: 0;
    max-height: 16em;
    text-shadow: black 1px 1px 1px;
}
.food_card {
    width:auto;
    margin: 1em;
    border-radius: 0.5em;
    position: relative;
    max-height: 16em;
    overflow: hidden;
}
img {
    top: 20%;
    width: 100%;
}
.recipeHow {
    display: flex;
    flex-direction: column;
    margin: 16rem;
    margin-top: 0;
    margin-bottom: 0;
}
.recipe {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(215, 230, 238);
}
.howto {
    display: flex;
    color: rgb(54, 54, 54);
    font-family: "Mitr", sans-serif;
    font-weight: 500;
}
span > .imghow {
    margin: 1rem;
    width: 20rem;
}
.flexpic {
    margin: 1em;
}
.flexpic > img {
    border-radius: 1rem;
}

.source {
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    padding: 1rem;
    text-align: center;
    color: aliceblue;
    background-color: rgb(199, 173, 124);
}
a {
    font-size: larger;
    color: rgb(255, 255, 255);
}